<% if posts.any? %>
  <div class="section pb-5">
    <div class="d-flex flex-wrap justify-content-sm-between">
      <% posts.each do |post| %>
        <div class="card mb-4" style="width: 20rem;">
          <% if post.image? %>
          <%= link_to image_tag(post.image.thumb2.url, alt: "Card_image_cap_#{post.id}"), post_path(post) %>
          <% else %>
          <p>画像なし</p>
          <% end %>
          <div class="card-body">
            <h5><%= link_to post.title, post_path(post), class: "card-title" %></h5>
            <div class="float-left"><%= link_to image_tag(post.user.image.thumb50.url, alt: "Card_user_image_cap_#{post.id}"), user_path(post.user) %></div>
            <% if logged_in? %>
            <div id="post-<%= post.id %>" data-post-id="<%= post.id %>" class="float-right mt-3">
              <%= render 'likes/sweet_button', post: post %>
            </div> 
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= paginate posts %>
<% end %>