<div class="section mx-auto pb-5">
  <div class="card mx-auto" style="width: 40rem;">
    <%= image_tag(@post.image.thumb3.url) %>
      <div class="card-body">
        <span><%= link_to image_tag(@post.user.image.thumb100.url), user_path(@post.user) %></span><h2><%= @post.title %></h2>
        <p><%= @post.content %></p>
      </div>
      <% if current_user == @post.user %>　
        <%= link_to "編集", edit_post_path(@post), class: "btn btn-light" %>
        <%= link_to "削除", @post, method: :delete, data: { confirm: "本当に削除してよろしいですか？"}, class: "btn btn-danger" %>
      <% end %>
  </div>
</div>
 
