<div class="section pb-5">
  <div class="card mx-auto" style="width: 40rem;">
    <%= image_tag(@post.image.thumb3.url) %>
      <div class="card-body">
        <span><%= link_to image_tag(@post.user.image.thumb100.url), user_path(@post.user) %></span>
        <h2 class="pt-2"><%= @post.title %></h2>
        <p><%= simple_format(@post.content) %></p>
        <% if logged_in? %>
          <div id="post-<%= @post.id %>" data-post-id="<%= @post.id %>" class="float-left mt-3">
            <%= render 'likes/sweet_button', post: @post %>
          </div>  
        <% end %>
        <% if current_user == @post.user %>　
          <div class="float-right mt-3">
            <%= link_to "編集", edit_post_path(@post), class: "btn btn-light btn-sm" %>
            <%= link_to "削除", post_path, method: :delete, data: { confirm: "本当に削除してよろしいですか？"}, class: "btn btn-danger btn-sm" %>
          </div>
        <% end %>
      </div>
  </div>
  <!--ここからコメント-->
  <div class="comment-wrapper border-top　mb-10">
    <p class="mt-5">コメント一覧</p>
    <% @comments.each do |comment| %>
    <table class="table">
      <tr>
        <td>
          <div>
            <% unless comment.user.blank? %>
              <%= link_to image_tag(comment.user.image.thumb50.url), user_path(comment.user_id) %>
            <% end %>
              <%= comment.user.name unless comment.user.blank? %>
            <br />
              <%= comment.content %>
            <% if current_user == comment.user %>
              <%# コメント削除ボタン %>
              <div class="float-right">
                <%= link_to "Delete", post_comment_path(@post, comment), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
              </div>
            <% end %>
          </div>
        </td>
      </tr>
    </table> 
      <br />
    <% end %>
    <% if logged_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |f| %>
        <%= f.text_area :content, class: "form-control", rows: 5 %>
        <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
          <i class="far fa-comments"></i> コメントする
        <% end %>
      <% end %>
    <% end %>
</div>
  <!--ここまで-->
</div>
 
